# IDE
.idea
.vscode

# Tree service
internal/frostfs/services/tree/

# Vendoring
vendor

# tempfiles
.DS_Store
*~
.cache

# binary
bin/

# coverage
coverage.txt
coverage.html

# debhelpers
**/*debhelper*

# debian package build files
debian/files
debian/*.log
debian/*.substvars
debian/frostfs-s3-gw/

