Source: frostfs-s3-gw
Section: misc
Priority: optional
Maintainer: TrueCloudLab <tech@frostfs.info>
Build-Depends: debhelper-compat (= 13), git, devscripts
Standards-Version: 4.5.1
Homepage: http://frostfs.info/
Vcs-Git: https://github.com/TrueCloudLab/frostfs-s3-gw.git
Vcs-Browser: https://github.com/TrueCloudLab/frostfs-s3-gw

Package: frostfs-s3-gw
Architecture: any
Depends: ${misc:Depends}
Description: FrostFS S3 gateway provides API compatible with Amazon S3 cloud storage service.
